---
import { slugify } from '../../utils/utils';
type Props = {
    title: string;
}
const {title} = Astro.props;
---

<a class="tag rounded bg-zinc-600 px-2 py-1 inline-block no-underline hover:cursor-pointer" href={`/blog/category/${slugify(title)}`}>{title}</a>