---
import StyledLink from "../StyledLink/StyledLink.astro";

const { prev_url, next_url, current_page, last_page } = Astro.props;
---

<nav
  aria-label="Blog pages"
  class="flex justify-between items-center w-full pt-6 pb-12"
>
  <StyledLink
    link={prev_url}
    title="Prev"
    disabled={!prev_url}
    before_asset="back"
  />
  <h4>Page {current_page} of {last_page}</h4>
  <StyledLink
    link={next_url}
    title="Next"
    disabled={!next_url}
    asset_classes="rotate-180"
    after_asset="back"
  />
</nav>
