---
type Props = {
  title: string;
};
const { title } = Astro.props;
---

<h2 class="w-full">
  {title}
</h2>

<style>
    h2{
        font-size: 40px;
        font-family: 'IBM Plex Mono';
    }
</style>
