---
type Props = {
  title: string;
  is_inline?: boolean;
  is_center?: boolean;
  classes?: string
};
const { title, is_inline, is_center, classes} = Astro.props;
---

<h3 class:list={[`${is_inline ? "inline" : "w-full"}`, {'text-center': is_center}, classes]}>
  {title}
</h3>

<style>
  h3 {
    font-size: 24px;
  }
</style>
