---
type Props = {
  title: string;
  is_inline?: boolean;
};
const { title, is_inline } = Astro.props;
---

<h4 class=`${is_inline ? "inline" : "w-full"}`>
  {title}
</h4>

<style>
  h4 {
    font-size: 16px;
  }
</style>
