---
type Props = {
  text: string;
  type?: string;
  is_clamped?: boolean;
};
const { text, type = "medium", is_clamped } = Astro.props;
---

<p class:list={["w-full", `text-${type}`, { 'line-clamp-2': is_clamped }]}>
  {text}
</p>

<style>
  p {
    font-weight: 300;
  }
  .text-small {
    font-size: 12px;
  }
  .text-medium {
    font-size: 16px;
  }
  .text-large {
    font-size: 18px;
  }
</style>
