---
import { Image } from "astro:assets";
import user_profile from "../../../public/images/user_profile_2.jpg";
import "./styles.css";
---

<section class="pt-24 min-h-[400px] max-sm:flex-col-reverse max-sm:pb-24">
  <div>
    <div class="my-auto max-sm:w-full flex justify-between w-full">
      <div class="flex flex-col justify-end">
        <p class="font-[Geist-Thin] font-extralight text-3xl">Hello,</p>
        <p class="font-[Geist-Thin] font-extralight text-5xl pt-2">
          I'm Vishal.
        </p>
      </div>
      <Image
        src={user_profile}
        alt=""
        width={200}
        height={200}
        class="hero-profile-img rounded-lg rotate-3 grayscale"
      />
    </div>
  </div>

  <div class="pt-5">
    <p class="pt-2">
      Full Stack Web Developer from India. My passion is to craft high quality
      web experiences and building cool stuff everyday.
    </p>
    <p>
      <a
        href="mailto:dev.vishalkashi@gmail.com"
        target="_blank"
        rel="noreferrer"
      >
        <h5 class="hover-highlight mt-4">Let's Connect 🚀</h5>
      </a>
    </p>
    <div class="flex gap-3 pb-2 pt-4">
      <a
        href="https://www.github.com/destructo570"
        target="_blank"
        rel="noreferrer"
      >
        <h5 class="hover-highlight">github</h5>
      </a>|<a
        href="https://www.twitter.com/destructo570"
        target="_blank"
        rel="noreferrer"
      >
        <h5 class="hover-highlight">twitter</h5>
      </a> |
      <a
        href="https://www.linkedin.com/in/vishal-kashi/"
        target="_blank"
        rel="noreferrer"
      >
        <h5 class="hover-highlight">linkedin</h5>
      </a> |
      <a
        href="https://dribbble.com/destructo570"
        target="_blank"
        rel="noreferrer"
      >
        <h5 class="hover-highlight">dribbble</h5>
      </a>
    </div>
  </div>
</section>
