---
import Card from "../Card/Card.astro";
import H2 from "../Primitive/H2.astro";
import H3 from "../Primitive/H3.astro";
import Paragraph from "../Primitive/Paragraph.astro";
import "./styles.css";
---

<section class="flex justify-between items-center min-h-[800px] max-sm:flex-col-reverse">
  <div class="w-1/2 my-auto max-sm:w-full">
    <H2 title="Vishal Kashi" />
    <H3 title="Fullstack Web Developer" />
    <Paragraph
      text={`I build awesome stuff for the web. Some of the technologies I am currently working with: `}
    />
  </div>
  <div class="hero-profile min-w-[400px] min-h-[800px] max-sm:min-h-[600px]">
    <img
      src="/images/user_profile.png"
      alt=""
      width={400}
      height={400}
      class="hero-profile-img"
    />
    <div class="hero-circle-card card-green rounded-full top-[25%] left-[0]"></div>
    <div class="hero-circle-card rounded-full bottom-[30%] right-[0px] max-sm:bottom-[15%]"></div>
  </div>
</section>
