.hero-profile {
  position: relative;
}

.hero-circle-card {
  width: 160px;
  height: 160px;
  background: rgba(218, 172, 226, 0.4);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.card-green{
    background: rgba(172, 226, 185, 0.4);
    height: 100px;
    width: 100px;
    animation: float 8s ease-in-out infinite;
}
