---
import "./styles.css";
type Props = {
  is_hover?: boolean;
  is_circle?: boolean;
  classes?: string;
};

const { is_hover, is_circle, classes } = Astro.props;
---

<div
  class:list={[
    "card p-4",
    { "cursor-pointer": is_hover },
    `${is_circle ? "rounded-full" : "rounded-md"}`,
    classes,
  ]}
>
  <div class="card-border"></div>
  <slot />
</div>

<script>
  const list = document.getElementsByClassName("cards");
  for (let card_list of list) {
    if (card_list) {
      card_list.onmousemove = (e) => {
        for (const card of document.getElementsByClassName("card")) {
          const rect = card.getBoundingClientRect(),
            x = e.clientX - rect.left,
            y = e.clientY - rect.top;
          card.style.setProperty("--mouse-x", `${x}px`);
          card.style.setProperty("--mouse-y", `${y}px`);
        }
      };
    }
  }
</script>
