---
import Layout from "../layouts/Layout.astro";
import H3 from "../components/Primitive/H3.astro";
import Main from "../components/Primitive/Main.astro";
---

<Layout title="About me">
  <Main>
    <H3 title="Destructo's About page" />
  </Main>
</Layout>