---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import H3 from "../components/Primitive/H3.astro";
import Main from "../components/Primitive/Main.astro";
import PostList from "../components/PostList/PostList.astro";
const posts = await getCollection("posts");
---

<Layout title="Blog">
  <Main>
    <H3 title="Destructo's Blog" />
    {(<PostList posts={posts} />)}
  </Main>
</Layout>
