---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Main from "../components/Primitive/Main.astro";
import PostList from "../components/PostList/PostList.astro";
const posts = await getCollection("posts");
---

<Layout title="Blog">
  <Main>
    <h3 class="py-5">All blog posts</h3>
    {(<PostList posts={posts} />)}
  </Main>
</Layout>
