---
import Layout from '../layouts/Layout.astro';
import H3 from "../components/Primitive/H3.astro"
import Main from "../components/Primitive/Main.astro"
---

<Layout title="Welcome to Astro.">
	<Main>
		<H3 title="My Blog"/>
	</Main>
</Layout>