---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero/Hero.astro";
import ProjectsList from "../components/ProjectsList/ProjectsList.astro";
import Main from "../components/Primitive/Main.astro";
import About from "../components/About/About.astro";
---

<Layout title="Vishal | Web developer">
  <Main>
    <Hero />
    <About/>
    <ProjectsList />
  </Main>
</Layout>
