---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero/Hero.astro";
import ProjectsList from "../components/ProjectsList/ProjectsList.astro";
import Main from "../components/Main.astro";
import About from "../components/About/About.astro";
import FeaturedPosts from "../components/FeaturedPosts/FeaturedPosts.astro";
---

<Layout title="Vishal | Web developer">
  <Main>
    <Hero />
    <About/>
    <!-- <FeaturedPosts /> -->
    <ProjectsList />
  </Main>
</Layout>
