---
import { TECH_STACK } from "../../constants/projects";
import Tag from "../Tag/Tag.astro";
---

<section class="min-h-max">
  <div class="flex gap-2 items-center">
    <h3 class="inline-block w-max min-w-[230px]">⚙️ What I know</h3>
    <div class="divider"></div>
  </div>
  <div class="pt-10 pb-32 grid grid-cols-3 gap-3 py-5 cards max-sm:grid-cols-1">
    {
      TECH_STACK.map((category) => {
        return (
          <div class="project-list p-4">
            <h4 class="p-0 m-0">{category.title}</h4>
            <div class="mt-2 flex gap-2 flex-wrap">
              {category.tech_stack.map((tech) => {
                return <div class="tag rounded bg-zinc-600 px-2 py-1 inline-block no-underline hover:cursor-default anim-hover-accent">{tech}</div>;
              })}
            </div>
          </div>
        );
      })
    }
  </div>
</section>