---
import "./styles.css";
---

<header class="flex justify-between max-w-7xl mx-auto px-16 py-4 max-sm:px-6">
  <div>
    <img src="/favicon.svg" alt="logo" class="logo" />
  </div>
  <ul class="flex justify-between space-x-6">
    <li class="flex justify-center items-center">
      <a href="/">Home</a>
    </li>
    <li class="flex justify-center items-center">
      <a href="/blog">Blog</a>
    </li>
    <li class="flex justify-center items-center">
      <a href="/about">About</a>
    </li>
  </ul>
</header>
