.logo{
    height: 32px;
    width: 32px;
}

.nav-links a{
    color: var(--text-default);
}
.active a{
    color: #f7f7f7;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: var(--accent-color);
    text-decoration-color: var(--accent-color);
}

.text-disabled{
    color: var(--text-disabled);
}
.text-default{
    color: var(--text-default);
}