---
import { type CollectionEntry, getCollection } from "astro:content";
import PostList from "../PostList/PostList.astro";

type Props = {
  posts?: CollectionEntry<"posts">[];
};

const posts = await getCollection("posts");
---

<section class="min-h-max">
    <div class="flex gap-4 items-center pb-8">
      <h3 class="inline-block w-max min-w-[220px]">💡Recent Posts</h3>
      <div class="divider"></div>
    </div>
    <PostList posts={posts} max_posts={3}/>
  </section>
  