---
import ProjectCardList from "./ProjectCardList";
---

<section class="px-4 max-sm:px-0">
  <h3 class="inline-block w-max min-w-[180px] text-[30px] font-[Geist-Light]">
    My Projects
  </h3>
  <div>
    <ProjectCardList client:load />
  </div>
</section>
